<form action="/palDB" method="POST">
  <div class="container text-center" style="display: flex; flex-wrap: wrap;">
    <% for (pal in data) { %>
      <div class="card" style="width: 18rem; margin: 5px;">
        <img src="" class="card-img-top" alt="">
        <div class="card-body">
          <h5 class="card-title"><%= data[pal].name %></h5>
          <p class="card-text"><%= JSON.stringify(data[pal].skills) %></p>
          <input type="checkbox" name="palnames" id="palnames" value="<%= data[pal].name %>"
            <% if (typeof playerPals !== 'undefined' && playerPals.includes(data[pal].name)) { %> checked <% } %>
        </div>
      </div>
    <% } %>
  </div>
  <br><br><br><br><br><br>
  <button type="submit" class="btn position-fixed start-50 translate-middle btn-primary mb-3"
    style="top: 95%;">Submit</button>
</form>